{% extends 'backend/base.html' %}
{% load static %}
{% block content %}
<body class="sb-nav-fixed">        
    <div id="layoutSidenav">
        {% include 'backend/nav.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Liste des contacts</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="{% url 'backend:index' %}">Tableau de bord</a></li>
                        <li class="breadcrumb-item active">Contacts</li>
                    </ol>
                    
                    <div class="card mb-4">
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>ID.</th>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Date de réception</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for r in result %}
                                    <tr>
                                        <td>{{r.id}}</td>
                                        <td>{{r.nom}}</td>
                                        <td>{{r.email}}</td>
                                        <td>{{r.created_at}}</td>
                                        <td><a href="{% url 'backend:details-contact' r.pk %}">Détails</a></td>
                                    </tr>
                                    {% endfor %}           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            {% include 'backend/footer.html' %}
        </div>
    </div>


{% endblock content %}