{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Authentification {% endblock title %}

{% block content %}
    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
            </div>
        </div>

        {% include 'frontend/navbar-1.html' %}

        <section class="bg-account-pages vh-100 d-flex align-items-center bg-center position-relative" style="background-image: url(images/auth-bg.png);">
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="bg-white shadow">
                            <div class="p-4">
                                <div class="text-center mt-3">
                                    <a href="index-1.html">
                                        <img src="{% static 'frontend_style/images/logo-dark.png' %}" alt="" class="logo-dark" height="30" />
                                    </a>
                                    <p class="text-muted mt-2">Connctez vous pour continuer à utiliser BMS Realinvestment.</p>
                                </div>
                                <div class="p-3">
                                    <form novalidate="" method="POST" class="av-invalid">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Nom d'utilisateur :</label>
                                            <input name="username" required="" placeholder="Entrez votre nom d'utilisateur..." id="username" type="text" class="form-control" value="" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="userpassword" class="form-label">Mot de passe</label>
                                            <input name="password" required="" placeholder="Entrez votre mot de passe..." id="userpassword" type="password" class="form-control" value="" />
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remember-Check">
                                            <label class="form-check-label" for="remember-Check">
                                                Se souvenir de moi 
                                            </label>
                                        </div>
                                        <div class="d-grid mt-3"><button type="submit" class="btn btn-primary btn-none">Se connecter</button></div>
                                        <div class="mt-4 mb-0 text-center">
                                            <a class="text-dark" href="{% url 'password_reset' %}"><i class="icon-xs icon me-1" data-feather="lock"></i> Mot de passe oublier ?</a>
                                        </div>
                                        
                                    </form>
                                    <!-- end form -->
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <p>Vous n'avez pas de compte ? <a href="sign-up.html" class="font-weight-semibold text-primary"> Créer un compte </a> </p>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end section -->

        {% include 'frontend/footer.html' %}

        {% include 'frontend/scripts.html' %}
    </body>
{% endblock content %}
