{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

{% include 'frontend/navbar.html' %}

<section class="section" >
    <div class="container col-md-5" style="margin-top:100px;">

        <h2>Vous avez oublié votre mot de passe ?</h2>
        <p>Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail des instructions pour en créer une nouvelle.</p>
  
        <form method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        </br>    
        <center><input type="submit" class="btn btn-primary" value="Envoyer les instructions"></center>
        </form>
    </div>
      
</section>

{% include 'frontend/footer.html' %}
{% endblock %}