{% extends "frontend/base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}

{% include 'frontend/navbar.html' %}

<section class="section">
    <div class="container col-md-5" style="margin-top:100px;margin-bottom:150px;">
        <h1>Veuillez vérifier vos Email</h1>
        <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe. Vous devriez recevoir l'e-mail sous peu !</p>
    </div>
</section>

{% include 'frontend/footer.html' %}
{% endblock %}