{% extends 'frontend/base.html' %}

{% block title %}Mot de passe modifié{% endblock %}

{% block content %}

{% include 'frontend/navbar.html' %}
<section class="section">
<div class="container col-md-5 text-center" style="margin-top:100px;margin-bottom:150px;">

    <h2>Votre mot de passe à été modifier.</h2>
    <p>Appyez sur le bouton Se connecter pour accéder à votre espace client.</p>
    
    <center><a class="btn btn-primary" href="{% url 'app:login' %}">Se connecter</a></center>

</div>
</section>



{% include 'frontend/footer.html' %}


{% endblock content  %}