{% extends "frontend/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Entrez un nouveau mot de passe {% endblock %}

{% block content %}

{% include 'frontend/navbar.html' %}

{% if validlink %}


<section class="section">
<div class="container col-md-5" style="margin-top:100px;margin-bottom:150px;">

    <h2 class="text-center mb-4">Veuillez donner un nouveau mot de passe </h2>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
    </br>
      <center><input type="submit" class="btn btn-primary" value="Modifier mon mot de passe"></Center>
    </form>
    
    {% else %}
    
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    
    {% endif %}
</div>
</section>



{% include 'frontend/footer.html' %}
{% endblock content  %}