{% extends 'backend/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div id="layoutSidenav">
    {% include 'backend/nav.html' %}
    
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Catégorie</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{% url 'backend:index' %}">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Configurer mon entreprise</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}

                           <label><b>{{form.designation.label}}</b></label>
                           {{form.designation}}

                           <label><b>{{form.secteur.label}}</b></label>
                           {{form.secteur}}

                
                        <center><button class="btn btn-primary"  type="submit"><b>Enregistrer les informations</b></button></center>                 
                        </form>
                    </div>
                </div>                  
            </div>
        </main>
        {% include 'backend/footer.html' %}
    </div>
</div>

{% endblock content %}