
{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<div id="home" class="page-section" style="position:absolute;top:0;left:0;width:100%;height:200px;z-index:-2;"></div>

		<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 with-header swiper_wrapper">
			<div class="slider-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption slider-caption-center">
									<h2 data-animate="fadeInUp" style="color:black;">Welcome to Canvas</h2>
									<p class="d-none d-sm-block" style="color:black;" data-animate="fadeInUp" data-delay="200">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on our Canvas.</p>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('{% static "img/image-1.jpg" %}');"></div>
						</div>
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption slider-caption-center">
									<h2 data-animate="fadeInUp">Beautifully Flexible</h2>
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
								</div>
							</div>
							<div class="video-wrap">
								<video poster="{% static 'frontend_style/images/videos/explore-poster.jpg' %}" preload="auto" loop autoplay muted>
									<source src="{% static 'frontend_style/images/videos/explore.mp4' %}" type='video/mp4' />
									<source src="{% static 'frontend_style/images/videos/explore.webm'%}" type='video/webm' />
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="container">	
								<div class="slider-caption">
									<h2 data-animate="fadeInUp">Great Performance</h2>
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('{% static 'frontend_style/images/slider/swiper/3.jpg' %}'); background-position: center top;"></div>
						</div>
					</div>
					<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
					<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
				</div>

			</div>
		</section>

		{% include 'frontend/header.html' %}

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

				<section id="section-about" class="page-section">

					<div class="container clearfix">

						<div class="heading-block center">
							<h2>We are <span>Canvas</span></h2>
							<span>One of the most Versatile Theme on Themeforest</span>
						</div>

						<div class="row justify-content-center col-mb-50">
							<div class="col-sm-6 col-lg-4">
								<div class="feature-box media-box">
									<div class="fbox-media">
										<img src="{% static 'frontend_style/images/services/1.jpg' %}" alt="Why choose Us?">
									</div>
									<div class="fbox-content px-0">
										<h3>Why choose Us.<span class="subtitle">Because we are Reliable.</span></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-lg-4">
								<div class="feature-box media-box">
									<div class="fbox-media">
										<img src="{% static 'frontend_style/images/services/2.jpg' %}" alt="Why choose Us?">
									</div>
									<div class="fbox-content px-0">
										<h3>Our Mission.<span class="subtitle">To Redefine your Brand.</span></h3>
										<p>Quos, non, esse eligendi ab accusantium voluptatem. Maxime eligendi beatae, atque tempora ullam. Vitae delectus quia, consequuntur rerum molestias quo.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-lg-4">
								<div class="feature-box media-box">
									<div class="fbox-media">
										<img src="{% static 'frontend_style/images/services/3.jpg' %}" alt="Why choose Us?">
									</div>
									<div class="fbox-content px-0">
										<h3>What we Do.<span class="subtitle">Make our Customers Happy.</span></h3>
										<p>Porro repellat vero sapiente amet vitae quibusdam necessitatibus consectetur, labore totam. Accusamus perspiciatis asperiores labore esse ab accusantium ea modi ut.</p>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="section dark parallax mb-0" style="padding: 80px 0;background-image: url('images/parallax/1.jpg');" data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -300px;">
						<div class="container clearfix">

							<div class="row col-mb-50">
								<div class="col-sm-6 col-lg-3 text-center" data-animate="bounceIn">
									<i class="i-plain i-xlarge mx-auto mb-0 icon-code"></i>
									<div class="counter counter-lined"><span data-from="100" data-to="846" data-refresh-interval="50" data-speed="2000"></span>K+</div>
									<h5>Lines of Codes</h5>
								</div>

								<div class="col-sm-6 col-lg-3 text-center" data-animate="bounceIn" data-delay="200">
									<i class="i-plain i-xlarge mx-auto mb-0 icon-magic"></i>
									<div class="counter counter-lined"><span data-from="3000" data-to="15360" data-refresh-interval="100" data-speed="2500"></span>+</div>
									<h5>KBs of HTML Files</h5>
								</div>

								<div class="col-sm-6 col-lg-3 text-center" data-animate="bounceIn" data-delay="400">
									<i class="i-plain i-xlarge mx-auto mb-0 icon-file-text"></i>
									<div class="counter counter-lined"><span data-from="10" data-to="386" data-refresh-interval="25" data-speed="3500"></span>*</div>
									<h5>No. of Templates</h5>
								</div>

								<div class="col-sm-6 col-lg-3 text-center" data-animate="bounceIn" data-delay="600">
									<i class="i-plain i-xlarge mx-auto mb-0 icon-time"></i>
									<div class="counter counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span>+</div>
									<h5>Hours of Coding</h5>
								</div>
							</div>

						</div>
					</div>

				</section>

				<section id="section-work" class="page-section topmargin-lg">

					<div class="heading-block center">
						<h2>Annuaire</h2>
						<span>L'annuaire idéal pour toutes vos démarches</span>
					</div>

					<div class="container">

						<!-- Portfolio Items
						============================================= -->
						<div id="portfolio" class="portfolio row grid-container g-0 text-center" data-layout="fitRows">

							<!-- Portfolio Item: Start -->
							<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12 pf-media pf-icons">
								<!-- Grid Inner: Start -->
								<div class="grid-inner">
									<!-- Image: Start -->
									<div class="portfolio-image">
										<a href="portfolio-single.html">
											<img src="{% static 'frontend_style/images/portfolio/4/1.jpg' %}" alt="Open Imagination">
										</a>
										<!-- Overlay: Start -->
										<div class="bg-overlay">
											<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
												<a href="{% static 'frontend_style/images/portfolio/full/1.jpg' %}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
												<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
											</div>
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
										<!-- Overlay: End -->
									</div>
									<!-- Image: End -->
									<!-- Decription: Start -->
									<div class="portfolio-desc">
										<h3><a href="portfolio-single.html">Open Imagination</a></h3>
										<span><a href="#">Media</a>, <a href="#">Icons</a></span>
									</div>
									<!-- Description: Start -->
								</div>
								<!-- Grid Inner: End -->
							</article>
							<!-- Portfolio Item: End -->

							

							

						</div><!-- #portfolio end -->
						
					</div>

					<center><a href="{% url 'app:liste-pros' %}" class="btn btn-primary">Voir toute la liste</a></center>
				</section>

				<section id="section-services" class="page-section topmargin-lg">

					<div class="heading-block center bottommargin-lg">
						<h2>Nos Services</h2>
						
					</div>

					<div class="container clearfix">

						<div class="row justify-content-center col-mb-50">
							<div class="col-sm-6 col-lg-4">
								<div class="feature-box fbox-center fbox-effect border-bottom-0" data-animate="fadeIn">
									<div class="fbox-icon">
										<a href="#"><i class="icon-phone2"></i></a>
									</div>
									<div class="fbox-content">
										<h3>Responsive Layout</h3>
										<p>Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-lg-4">
								<div class="feature-box fbox-center fbox-effect border-bottom-0" data-animate="fadeIn" data-delay="200">
									<div class="fbox-icon">
										<a href="#"><i class="icon-eye"></i></a>
									</div>
									<div class="fbox-content">
										<h3>Retina Ready Graphics</h3>
										<p>Looks beautiful &amp; ultra-sharp on Retina Displays with Retina Icons, Fonts &amp; Images.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-lg-4">
								<div class="feature-box fbox-center fbox-effect border-bottom-0" data-animate="fadeIn" data-delay="400">
									<div class="fbox-icon">
										<a href="#"><i class="icon-star2"></i></a>
									</div>
									<div class="fbox-content">
										<h3>Powerful Performance</h3>
										<p>Optimized code that are completely customizable and deliver unmatched fast performance.</p>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="divider divider-sm divider-center topmargin-lg"><i class="icon-star3"></i></div>

				</section>

				<section id="section-contact" class="page-section">

					<div class="heading-block text-center">
						<h2>Prenez contact avec nous</h2>
						<span>Vous avez encore des questions ? Contactez-nous en utilisant le formulaire ci-dessous.</span>
					</div>

					<div class="container clearfix">

						<div class="row align-items-stretch col-mb-50 mb-0">
							<!-- Contact Form
							============================================= -->
							<div class="col-lg-6">

								<div class="fancy-title title-border">
									<h3>Envoyez-nous un e-mail</h3>
								</div>
									<form  method="post">
										{% csrf_token %}

										<div class="row">
											<div class="col-md-4 form-group">
												<label for="template-contactform-name">Nom <small>*</small></label>
												{{form.nom}}
											</div>

											<div class="col-md-4 form-group">
												<label for="template-contactform-email">Email <small>*</small></label>
												{{form.email}}
											</div>

											<div class="col-md-4 form-group">
												<label for="template-contactform-phone">N° Téléphone</label>
												{{form.telephone}}
											</div>

											<div class="w-100"></div>

											<div class="col-md-12 form-group">
												<label for="template-contactform-subject">Sujet <small>*</small></label>
												{{form.sujet}}
											</div>

											<div class="col-12 form-group">
												<label for="template-contactform-message">Message <small>*</small></label>
												{{form.message}}
											</div>
						

											<div class="col-12 form-group">
												<button class="button button-3d m-0" type="submit"  >Envoyer le message</button>
											</div>
										</div>
										
									</form>
								
							</div><!-- Contact Form End -->

							<!-- Google Map
							============================================= -->
							<div class="col-lg-6 min-vh-40">
								<div class="gmap h-100" data-address="Melbourne, Australia" data-markers='[{address: "Melbourne, Australia", html: "<div class=\"p-2\" style=\"width: 300px;\"><h4 class=\"mb-2\">Hi! We are <span>Envato!</span></h4><p class=\"mb-0\" style=\"font-size:1rem;\">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day.</p></div>", icon:{ image: "images/icons/map-icon-red.png", iconsize: [32, 39], iconanchor: [32,39] } }]' data-scrollwheel="false"></div>
							</div><!-- Google Map End -->
						</div>

						<!-- Contact Info
						============================================= -->
						<div class="w-100">

							<div class="row col-mb-50">
								<div class="col-sm-6 col-lg-3">
									<div class="feature-box fbox-center fbox-bg fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-map-marker2"></i></a>
										</div>
										<div class="fbox-content">
											<h3>Our Headquarters<span class="subtitle">Melbourne, Australia</span></h3>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="feature-box fbox-center fbox-bg fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-phone3"></i></a>
										</div>
										<div class="fbox-content">
											<h3>Speak to Us<span class="subtitle">(123) 456 7890</span></h3>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="feature-box fbox-center fbox-bg fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-skype2"></i></a>
										</div>
										<div class="fbox-content">
											<h3>Make a Video Call<span class="subtitle">CanvasOnSkype</span></h3>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="feature-box fbox-center fbox-bg fbox-plain">
										<div class="fbox-icon">
											<a href="#"><i class="icon-twitter2"></i></a>
										</div>
										<div class="fbox-content">
											<h3>Follow on Twitter<span class="subtitle">2.3M Followers</span></h3>
										</div>
									</div>
								</div>
							</div>

						</div><!-- Contact Info End -->

					</div>
				</section>

			</div>
		</section><!-- #content end -->
		{% include 'frontend/footer.html' %}
		
	</div><!-- #wrapper end -->


		
{% endblock content %}