{% extends 'frontend/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include 'frontend/header.html' %}

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Mon Compte</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Accueil</a></li>
					<li class="breadcrumb-item active" aria-current="page">Incription</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="accordion accordion-lg mx-auto mb-0 clearfix" style="max-width: 550px;">
						<div class="accordion-header">
							<div class="accordion-icon">
								<i class="accordion-closed icon-user4"></i>
								<i class="accordion-open icon-ok-sign"></i>
							</div>
							<div class="accordion-title">
								Nouvelle inscription ? Créez un compte maintenant
							</div>
						</div>
						<div class="accordion-content clearfix">
							
							<form id="register-form" name="register-form" class="row mb-0" method="post">
								{% csrf_token %}	
								{{form2|crispy}}
								{{form|crispy}}
								
								<div class="col-12 form-group">
									<button class="button button-3d button-black m-0" id="register-form-submit" name="register-form-submit" value="register">M'enregistrer</button>
								</div>
							</form>
						</div>

					</div>

				</div>
			</div>
		</section><!-- #content end -->

{% endblock content %}